Repository michellepace/pdf-to-english-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-requirements, pyright, pytest

generate-requirements:
  name: generate requirements.txt
  entry: bash -c 'uv pip compile pyproject.toml -o requirements.txt && git add requirements.txt'
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run pytest
  language: system
  pass_filenames: false

fix: use absolute mm sizing for images instead of percentage
  .claude/skills/pdf-investigate/SKILL.md
  README.md
  pyproject.toml
  sample_pdfs/e2e_test.pdf
  src/pdf_to_english_py/ocr.py
  src/pdf_to_english_py/render.py
  tests/test_e2e.py
  tests/test_ocr.py
  tests/test_render.py
Due: generate-requirements, pyright, pytest

refactor: improve OCR investigation output
  scripts/investigate_ocr.py
Due: pyright, pytest

chore: add MCP server configuration
  .mcp.json
Due: none

style: apply Minor Third typescale and vertical rhythm to PDF output
  src/pdf_to_english_py/render.py
Due: pyright, pytest

docs: add Gradio documentation reference and MCP server
  .mcp.json
  x_docs/gradio-llms-txt.md
Due: none

chore: update dependencies and add script entry point
  .claude/settings.json
  .gitignore
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  requirements.txt
  uv.lock
Due: generate-requirements

feat: add in-app API key entry, validation, and dark theme
  src/pdf_to_english_py/app.py
  src/pdf_to_english_py/validate.py
  tests/test_app.py
  tests/test_validate.py
  x_docs/gradio/example.md
  x_docs/gradio/four-kinds-of-interfaces.md
  x_docs/gradio/llms-txt.md
  x_docs/gradio/themes.md
  x_docs/ui-prototype/01-empty.png
  x_docs/ui-prototype/02-ready.png
  x_docs/ui-prototype/03-processing.png
  x_docs/ui-prototype/04-complete.png
  x_docs/ui-prototype/prototype.html
Due: pyright, pytest

rules: restructure CLAUDE.md with tech stack section and usage commands
  .claude/CLAUDE.md
Due: none

fix(security): prevent API key exposure in deployed UI
  src/pdf_to_english_py/app.py
  tests/test_app.py
Due: pyright, pytest

feat: add pipeline status display and extract theme module
  src/pdf_to_english_py/app.py
  src/pdf_to_english_py/theme.py
  tests/test_app.py
  tests/test_theme.py
Due: pyright, pytest

docs: add app screenshots and update README sections
  .claude/commands/commit.md
  README.md
  x_docs/images/app_screenshot.jpg
  x_docs/images/ocr_form.jpg
Due: none

docs: add input/output directory references to README
  README.md
Due: none

chore: tidy workspace config and switch to custom marketplace plugin
  .claude/commands/commit.md
  .claude/settings.json
  .markdownlint-cli2.yaml
  .markdownlint.yaml
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: upgrade all dependencies to latest versions
  pyproject.toml
  requirements.txt
  uv.lock
Due: generate-requirements

docs: tighten CLAUDE.md and add Railway deployment section
  .claude/CLAUDE.md
Due: none

chore: migrate to mistralai SDK v2
  pyproject.toml
  requirements.txt
  scripts/investigate_ocr.py
  scripts/pipeline_timing.py
  scripts/translate_pdf.py
  src/pdf_to_english_py/ocr.py
  src/pdf_to_english_py/translate.py
  src/pdf_to_english_py/validate.py
  tests/conftest.py
  tests/test_e2e.py
  uv.lock
Due: generate-requirements, pyright, pytest

docs: split x_docs into images, mock-up, and xdocs
  README.md
  images/app_screenshot.jpg
  images/ocr_form.jpg
  mock-up/01-empty.png
  mock-up/02-ready.png
  mock-up/03-processing.png
  mock-up/04-complete.png
  mock-up/prototype.html
  x_docs/docs_mistral_ocr.md
  x_docs/gradio/example.md
  x_docs/gradio/four-kinds-of-interfaces.md
  x_docs/gradio/llms-txt.md
  x_docs/gradio/themes.md
  x_docs/mistral_ocr3.md
  x_docs/prompt_viz_fidelity.md
  xdocs/SPEC.md
  xdocs/deploy_railway.md
  xdocs/handover_1.md
  xdocs/handover_2.md
Due: none

chore: refresh toolchain and dependencies
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  src/pdf_to_english_py/validate.py
  tests/test_e2e.py
  uv.lock
Due: generate-requirements, pyright, pytest

chore: retune markdownlint rules and ignores
  .markdownlint-cli2.yaml
Due: none

docs: rewrite README as a spike write-up
  README.md
Due: none

Path conditions:
  generate-requirements: any of: ^(pyproject\.toml|uv\.lock)$
  pyright: any of: \.py$
  pytest: any of: \.py$
